@charset "UTF-8";

:root {
    --azul-petroleo: #3f636b;
    --cinza-azulado: #aec2cb;
    --bege: #C2B49A;
    --dourado-antigo: #a99263;
    --dourado-claro: #efc675;
    --branco-suave: #F5F5F2;
    --degrade-azul-petroleo: linear-gradient(135deg, #2E4A50, #4A3220);
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--azul-petroleo);
    width: 100%;
    height: 100%;
    margin: 0;
}

main {
    position: relative;
    height: 98%;
    width: 98%;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: var(--cinza-azulado);
    width: 281px;
    height: 595px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #182528dd;

    transition: width 0.4s, heigth 0.4s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: var(--azul-petroleo) url(../images/pexels-cottonbro-4753136.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:left top;
    height: 17.875em;
}

section#login > div#formulario {
    display: block;
    padding: 1em;

}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 5px;
    color: #825900;
}

div#formulario > p {
    font-size: 0.625;
}

form > div.campo {
    background-color: var(--azul-petroleo);
    display: block;
    border-radius: 4px;
    height: 30px;
    margin: 5px 0;
}

div.campo > label {
    display: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: var(--dourado-antigo);
    border-radius: 10px;
    border: none;
    color: var(--branco-suave);
    cursor: pointer;
}

form > input[type=submit]:hover {
    font-size: 1.120em;
    background-color: var(--dourado-claro);
    border-radius: 18px;
    border-style: outset;
    color: black;
}

form > a.botão {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    padding-top: 3px;
    margin-top: 5px;
    background-color: var(--dourado-antigo);
    border-radius: 10px;
    border: none;
    color: var(--branco-suave);
    text-decoration: none;
}

form > a.botão:hover {
    font-size: 1.02em;
    background-color: var(--dourado-claro);
    border-radius: 18px;
    border-style: outset;
    color: black;
}

form > a.botão > span {
    font-size: 0.938em;
}